* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #060c21;
}

/*==================================//======================================*/

/*Header section*/

#flex-sec {
    display: flex;
    color: #f4f4f4;
    text-align: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 30px;
}

#flex-sec h1 {
    font-size: 50px;
    margin-top: 20%;

}

#flex-sec p {
    font-size: 30px;
    color: #1bf2ea;
}


.break-img {
    width: 100%;
    margin-bottom: 50px;
}



@media screen and (max-width: 600px) {

    #flex-sec {
        display: block;
        width: 100%;
        line-height: normal;
    }

    #flex-sec h1 {
        margin-top: auto;
    }

    #flex-sec img {
        width: 80%;
        margin: 45px auto;
    }
}

/*==================================//======================================*/


/*section used for centering process*/
section {
    background-color: #060c21;
     overflow:hidden;
}

 .flybee{
        height: 300px; 
        margin-top: -62px;
       margin-left: 40%;
        }

.container {
    width: 100%;
    max-width: 80rem;
     margin: 0 auto;
     padding: 10px 1.5rem;
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-item {
    background-color: rgba(49, 24, 131, 0.9);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);

}

.accordion-link {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    text-transform: uppercase;
    background-color: #454b58;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

.accordion-link i {
    color: #e7d5ff;
    padding: .5rem;
}

.accordion-link .ion-md-remove {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
}

.answer::before {
    content: '';
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #eb648c;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6);
    padding: 2rem;
}

/*when accordion-item is clicked answer will show*/
.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-add {
    display: none;
}


.accordion-item:target .accordion-link .ion-md-remove {
    display: block;
}


@media screen and (max-width: 600px) {
    section {
        display: block;

    }
}
}

=================================== //======================================
/*button effect*/


button {
   width: auto;
}

 .page-control {
    height: 40px;
    width: auto;
   background-color: rgba(49, 24, 131, 0.9);
    margin-top: 10px;
    border-bottom: 10px;
    margin-left: 240px;
    font-size: 20px;
    border: none;
   border-radius: 5px;
}

.page-control i {
    color: #f4f4f4;
    padding: 10px;
}

@media screen and (max-width:600px){
    .page-control{
        margin-left: 130px;
    }
    .flybee{
         
       margin-top: -62px;
       margin-left: 25%;
        }
}
